.App {
  font-family: sans-serif;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=VT323&family=Work+Sans&display=swap");
:root {
  --primary-color: rgba(255, 255, 255, 0.918);
  --background-color: #000000;
  --secondary-color: rgb(49, 40, 50);
}
body {
  font-family: "VT323", monospace;
  text-align: center;
  color: var(--primary-color);
  caret-color: var(--primary-color);
  background: var(--background-color);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 18, 1) 67%,
    rgba(51, 51, 51, 1) 100%
  );
}
.heading {
  margin: 3rem auto 1rem;
}
.outemoji,
.inemoji {
  background-color: var(--secondary-color);
  width: 70%;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  max-width: 700px;
}
.inemoji::placeholder {
  color: var(--primary-color);
}
.emojiList {
  width: 74%;
  margin: 1rem auto;
  margin-bottom: 3rem;
  max-width: 800px;
}
.emoji {
  padding: 1rem;
  margin: 1rem;
  line-height: 3.5rem;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 25px;
}
.emoji:hover {
  background-color: var(--secondary-color);
  padding: 0.4rem;
}
